
@{
    ViewBag.Title = "Index";
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Question 04</title>
</head>
<body>
    <h2>CSV File Upload and Download</h2>

    @using (Html.BeginForm("UploadCsv", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <input type="file" name="file" />
        <input type="submit" value="Upload" />
    }

    <br />
    @if (ViewBag.errormessage != null)
    {
        <p style="color: red;">@ViewBag.errormessage</p>
    }

    @if (ViewBag.SuccessMessage != null)
    {
        <p style="color: green;">@ViewBag.SuccessMessage</p>
    }
    <a href="@Url.Action("DownloadCsv", "Home")" class="btn btn-success">Download CSV</a>
</body>
</html>

